@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;

	font-family: 'Space Grotesk', sans-serif;
}

.fancy {
	font-family: 'Caveat', cursive;
}

h1,
.title {
	font-size: 32px;
	font-weight: 700;
}

button {
	padding: 0.7rem 2rem;

	border: none;

	background-color: #ff8b15;

	color: white;

	font-weight: 700;

	font-size: 18px;

	&:hover {
		transition-duration: 0.2s;
		opacity: 0.8;
		scale: 1.05;
	}
}
.secondary {
	background-color: #f3dec9;
	color: black;
}

.wrapper {
	padding: 1rem;
	max-width: 70rem;
	margin-inline: auto;
}
